@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/adminLayout")

<header>
    <a id="posts" href="@Url.Action("Posts", "Admin", new { pageIndex = 1 })">Посты</a>
    <a id="logs" href="@Url.Action("Logs", "Admin", new { pageIndex = 1 })">Логи</a>
</header>
<div class="admin-body">
    @RenderBody()
</div>