<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css",
        "~/Content/themes/base/css")
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
</head>
<body>
    @Scripts.Render("~/bundles/jquery",
        "~/bundles/jqueryui",
        "~/bundles/utils")

    @RenderBody()
</body>
</html>