@using PersonalBlog.Entities
@model List<PostBaseDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tools-panel">
    <a class="add-new-post" href="@Url.Action("Add")">Добавить новый пост</a>
</div>

@foreach (PostBaseDto post in Model)
{
    <div class="post-item">
        <i>[@post.PostId]</i>
        <label>@post.Title</label>

        <div class="action-div">
            <a class="edit-link" href="@Url.Action("Update", new {postId = post.PostId})">редактировать</a>
            <a class="delete-link"  href="@Url.Action("Delete", new {postId = post.PostId})">удалить</a>
        </div>
    </div>
}
