@using System.Globalization
@using PersonalBlog.Entities
@model PersonalBlog.DAL.Results.PageResult<LogEntryDto>

@{
    ViewBag.Title = "Логи";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@foreach (LogEntryDto log in Model.ResultList)
{
    <div class="admin-list-item">
        <b>[@log.Type.ToString()]</b>
        <i>{@log.Date.ToString(CultureInfo.InvariantCulture)}</i>
        <label>@log.Source</label>
    </div>
}

@Html.Action("Pager", "Element",
    new { action = "Logs", controller = "Admin", currentPageIndex = Model.CurrentPage, pageCount = Model.PageCount })

<script>
    $(function () {
        $("#logs").addClass("selected");
    });
</script>