@using PersonalBlog.Entities
@model List<PostPreviewDto>

@{
    ViewBag.Title = "Мои записи";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@{
    foreach (PostPreviewDto post in Model)
    {
        <div class="post-wrapper">
            <div class="header">
                <a class="title">@post.Title</a>
                <i class="added-time">(@post.CreationDate)</i>
            </div>
            <div class="source">
                @post.Source
            </div>
            <div class="info">
                <a class="to-detail">Подробнее</a>
            </div>
        </div>
    }
}
