@{
    ViewBag.Title = "Обо мне";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@Styles.Render("~/Content/css/aboutMe")

<h3>> ФИО: Салахутдинов Рустам Русланович</h3>
<h3>> Возраст: @ViewBag.AgeInYears</h3>
<h3>> Образование: незаконченное высшее (СГТУ, Информационная безопасность автоматизированных систем)</h3>
<h3>
    > Обо мне в кратце:
    <a class="link-button resume">резюме(English)</a>,
    <a class="link-button github" href="https://github.com/80LevelElf">GitHub</a>,
    <a class="link-button linkedin" href="https://www.linkedin.com/in/rustam-salakhutdinov-a50a8979">LinkedIn</a>.
</h3>

<div id="tabs">
    <ul>
        <li><a href="#tabs-skills">Что я умею</a></li>
        <li><a href="#tabs-work">Где я работал</a></li>
        <li><a href="#tabs-more">Еще немного обо мне</a></li>
    </ul>

    <!--Skills-->
<div id="tabs-skills">
    <div class="skills-group">
        <table>
            <tr>
                <th colspan="2">Backend .Net</th>
            </tr>
            <tr>
                <td>C#</td>
                <td><progress max="100" value="90"></progress></td>
            </tr>
            <tr>
                <td>Multithreading</td>
                <td><progress max="100" value="65"></progress></td>
            </tr>
            <tr>
                <td>WinForms</td>
                <td><progress max="100" value="80"></progress></td>
            </tr>
            <tr>
                <td>WinForms DevExpress</td>
                <td><progress max="100" value="40"></progress></td>
            </tr>
            <tr>
                <td>WPF</td>
                <td><progress max="100" value="35"></progress></td>
            </tr>
            <tr>
                <td>ADO.Net</td>
                <td><progress max="100" value="70"></progress></td>
            </tr>
            <tr>
                <td>WCF (SOAP)</td>
                <td><progress max="100" value="60"></progress></td>
            </tr>
            <tr>
                <td>Web API</td>
                <td><progress max="100" value="50"></progress></td>
            </tr>
        </table>
    </div>

    <div class="skills-group">
        <table>
            <tr>
                <th colspan="2">Frontend .Net</th>
            </tr>
            <tr>
                <td>Asp.Net MVC</td>
                <td><progress max="100" value="40"></progress></td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td><progress max="100" value="30"></progress></td>
            </tr>
            <tr>
                <td>JQuery</td>
                <td><progress max="100" value="35"></progress></td>
            </tr>
            <tr>
                <td>CSS</td>
                <td><progress max="100" value="75"></progress></td>
            </tr>
            <tr>
                <td>HTML</td>
                <td><progress max="100" value="50"></progress></td>
            </tr>
        </table>
    </div>

    <div class="skills-group">
        <table>
            <tr>
                <th colspan="2">Базы данных</th>
            </tr>
            <tr>
                <td>T-SQL</td>
                <td><progress max="100" value="75"></progress></td>
            </tr>
            <tr>
                <td>PL-SQL</td>
                <td><progress max="100" value="25"></progress></td>
            </tr>
            <tr>
                <td>MongoDB</td>
                <td><progress max="100" value="20"></progress></td>
            </tr>
        </table>
    </div>

    <div class="skills-group">
        <table>
            <tr>
                <th colspan="2">C++</th>
            </tr>
            <tr>
                <td>C++</td>
                <td><progress max="100" value="55"></progress></td>
            </tr>
            <tr>
                <td>Qt framework</td>
                <td><progress max="100" value="50"></progress></td>
            </tr>
        </table>
    </div>

    <div class="skills-group">
        <table>
            <tr>
                <th colspan="2">Java</th>
            </tr>
            <tr>
                <td>Java</td>
                <td><progress max="100" value="50"></progress></td>
            </tr>
            <tr>
                <td>Multithreading</td>
                <td><progress max="100" value="30"></progress></td>
            </tr>
            <tr>
                <td>Android</td>
                <td><progress max="100" value="45"></progress></td>
            </tr>
            <tr>
                <td>JavaFX</td>
                <td><progress max="100" value="50"></progress></td>
            </tr>
        </table>
    </div>

    <div class="skills-group">
        <table>
            <tr>
                <th colspan="2">Остальные</th>
            </tr>
            <tr>
                <td>English (письменный)</td>
                <td><progress max="100" value="65"></progress></td>
            </tr>
            <tr>
                <td>English (разговорный)</td>
                <td><progress max="100" value="45"></progress></td>
            </tr>
            <tr>
                <td>Нейронные сети</td>
                <td><progress max="100" value="25"></progress></td>
            </tr>
        </table>
    </div>
</div>

    <!--History of work-->
    <div id="tabs-work">

        <!--ROKO-->
        <p>
            <div class="company-logo-div">
                <a class="work-roko" href="https://www.roko.mobi"></a>
            </div>
            <div class="company-work-description">
                <b>.Net Backend Developer in Roko Labs (с августа 2016 г.)</b>
        <p>
            <b>Чем занимаюсь: </b>
            <label>
                ?
            </label>
        </p>
        <p>
            <b>Упор на технологии: </b>
            <table>
                <tr>
                    <td>C#</td>
                    <td><progress max="100" value="100"></progress></td>
                </tr>
            </table>
        </p>
    </div>
    </p>

    <!--EPAM-->
        <p>
            <div class="company-logo-div">
                <a class="work-epam" href="https://www.epam-group.ru"></a>
            </div>
            <div class="company-work-description">
                <b>.Net Backend Developer in Epam Systems (с марта по июль 2016 г.)</b>
                <p>
                    <b>Чем занимался: </b>
                    <label>
                        Являлся разработчиком ядра для огромного решения для страховых компаний (например ВТБ, ВСК).
                        Заказчик - крупная словенская IT-корпорация. Был инкорпорирован в команду заказчика
                        (то есть непосредственный босс - словенский разработчик). Все коммуникации только на английском.
                    </label>
                </p>
                <p>
                    <b>Упор на технологии: </b>
                    <table>
                        <tr>
                            <td>C#</td>
                            <td><progress max="100" value="100"></progress></td>
                        </tr>
                        <tr>
                            <td>Multithreading</td>
                            <td><progress max="100" value="45"></progress></td>
                        </tr>
                        <tr>
                            <td>WinForms</td>
                            <td><progress max="100" value="50"></progress></td>
                        </tr>
                        <tr>
                            <td>WPF</td>
                            <td><progress max="100" value="20"></progress></td>
                        </tr>
                        <tr>
                            <td>ADO.Net</td>
                            <td><progress max="100" value="70"></progress></td>
                        </tr>
                        <tr>
                            <td>WCF (SOAP)</td>
                            <td><progress max="100" value="35"></progress></td>
                        </tr>
                        <tr>
                            <td>Web API</td>
                            <td><progress max="100" value="45"></progress></td>
                        </tr>
                        <tr>
                            <td>T-SQL</td>
                            <td><progress max="100" value="70"></progress></td>
                        </tr>
                        <tr>
                            <td>PL-SQL</td>
                            <td><progress max="100" value="45"></progress></td>
                        </tr>
                        <tr>
                            <td>DevArt</td>
                            <td><progress max="100" value="20"></progress></td>
                        </tr>
                        <tr>
                            <td>NPoco</td>
                            <td><progress max="100" value="20"></progress></td>
                        </tr>
                    </table>
                </p>
            </div>
        </p>

    <!--TAXI-->
<p>
    <div class="company-logo-div">
        <a class="work-taxi"></a>
    </div>
    <div class="company-work-description">
        <b>.Net Junior Developer -> .Net Backend Developer in Taxi (с декабря 2013 по февраль 2016 г.)</b>
        <br/>
        <i>(это был фриланс и NDA запрещает называть имя заказчика)</i>
        <p>
            <b>Чем занимался: </b>
            <label>
                Изначально являлся одним из двух разработчиков для высоконагруженных систем междугородней таксомоторной
                компании. Система включала в себя множество приложений диспетчеров, мобильных приложений таксистов и клиентов,
                сайта и панели управления, объединенных сервером. Основная часть работы заключалась в написании эффективного
                серверного кода, небольшая часть - в создании прилагающегося GUI(WinForms). Так же было решено множество
                нетривильных задач - от автоматического мержа улиц и домов городов из OpenStreetMap до интеграции со
                Skype и ВКонтакте.
            </label>
        </p>
        <p>
            Далее к нам пришел еще один разработчик и к моим обязанностям добавился его менеджмент
            (код-ревью, консультации и т.д.)
        </p>
        <p>
            <b>Упор на технологии: </b>
            <table>
                <tr>
                    <td>C#</td>
                    <td><progress max="100" value="100"></progress></td>
                </tr>
                <tr>
                    <td>T-SQL</td>
                    <td><progress max="100" value="90"></progress></td>
                </tr>
                <tr>
                    <td>WinForms</td>
                    <td><progress max="100" value="80"></progress></td>
                </tr>
                <tr>
                    <td>WinForms DevExpress</td>
                    <td><progress max="100" value="60"></progress></td>
                </tr>
                <tr>
                    <td>WCF (SOAP)</td>
                    <td><progress max="100" value="50"></progress></td>
                </tr>
                <tr>
                    <td>MongoDB</td>
                    <td><progress max="100" value="25"></progress></td>
                </tr>
            </table>
        </p>
    </div>

    <!--VOLGASOFT-->
<p>
    <div class="company-logo-div">
        <a class="work-volgasoft" href="http://www.volgasoft.com"></a>
    </div>
    <div class="company-work-description">
        <b>.Net intern Developer in VolgaSoft (с июня по август 2016 г.)</b>
<p>
    <b>Чем занимался: </b>
    <label>
        Был стажером в проекте по написанию управляющей оболчки для системы нефтяных вышек.
        Во время стажировки познакомился с процессом работы в большой интернациональной команде,
        занимался написанием серверного кода и JavaScript + HTML.
    </label>
</p>
<p>
    <b>Упор на технологии: </b>
    <table>
        <tr>
            <td>C#</td>
            <td><progress max="100" value="40"></progress></td>
        </tr>
        <tr>
            <td>Asp.Net MVC</td>
            <td><progress max="100" value="45"></progress></td>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td><progress max="100" value="35"></progress></td>
        </tr>
        <tr>
            <td>HTML</td>
            <td><progress max="100" value="35"></progress></td>
        </tr>
    </table>
</p>

    </div>
</p>

    </div>


<!--More about me-->
    <div id="tabs-more">
        <p>
            Если разделить мои ранние годы по классификации Л.Н.Толстого <i>"Детство-отрочество-юность"</i>, то программированием я начал
            увлекаться где-то с "отрочества". Наличие желания и отсутствие умения компенсировалось <a href="https://ru.wikipedia.org/wiki/HiAsm">одной программой</a>,
            которая позволяла в формате конструктора "лепить" свои проекты. И так на велосипеде и энтузиазме было слеплено множество
            ужасных программ, величина которых упиралась в формат конструктора, в котором они создавались:
        </p>
        <ul class="link-list">
            <li><a href="http://www.softportal.com/software-17002-rizek-tsentr.html">Программа-аналог AIDA 64</a></li>
            <li><a href="http://www.softportal.com/software-17382-rizek-pasgen.html">Генератор паролей</a></li>
            <li><a href="http://www.softportal.com/software-17517-rizek-shifrator.html">Программа-шифровальщик</a></li>
            <li><a href="http://www.softportal.com/software-19007-rizek-kalkulyator.html">Калькулятор</a>(О да, я написал свой калькулятор!)</li>
        </ul>
        <p>
            Потом был школьный Pascal, мне стукнуло где-то 15-16 лет и я решил, что уже взрослый, а врослые высвобождают память самостоятельно.
            Так я изучил <label class="blacked">C++</label>, потом в придачу разобрался в framework'e
            <label class="blacked">Qt</label>. На этой связке за два школьных года написал несколько детских проектов,
            которые до сих пор можно найти в интернете:
            <ul class="link-list">
                <li>
                    <a href="https://www.linux-apps.com/p/1131400">Редактор для QSS</a> -
                    <label class="blacked">C++</label>, <label class="blacked">Qt</label>.
                </li>
                <li>
                    <a href="https://www.linux-apps.com/p/1131106/">Программа для подбора цветов</a> -
                    <label class="blacked">C++</label>, <label class="blacked">Qt</label>.
                </li>
            </ul>
        </p>
        <p>
            Код этих программ я, увы, уже не найду. Но вспоминая этот код, оно и к лучшему =)
        </p>
        <p>
            Далее было поступление в университет, где преподавали <label class="blacked">C#</label>, что предопределило
            мою основную специализацию в данный момент. С течением времени все больше технологий нанизывалось на .Net-стек моих
            знаний благодаря <a href="#tabs-work">работе</a> и собственным изысканиям. За это время было множество больших и маленьких проектов,
            законченных и навсегда заброшенных на свалке GitHub'a:
            <ul class="link-list">
                <li>
                    <a href="https://github.com/80LevelElf/ZaBugrom">Сайт-агрегатор блогов эммигрантов</a> (проект заброшен) -
                    <label class="blacked">C#</label>, <label class="blacked">Asp.Net MVC</label>, <label class="blacked">JavaScript</label>,
                    <label class="blacked">JQuery</label>, <label class="blacked">T-SQL</label>, <label class="blacked">LINQ TO DB</label>.
                </li>
                <li>
                    <a href="https://github.com/80LevelElf/Mather">Математический сайт</a>(формально закончен, реально заброшен) -
                    <label class="blacked">C#</label>, <label class="blacked">Asp.Net MVC</label>, <label class="blacked">JavaScript</label>,
                    <label class="blacked">JQuery</label>, <label class="blacked">Math.js</label>.
                </li>
                <li>
                    <a href="https://github.com/80LevelElf/Bigio">Библиотека огромных коллекций для .Net</a>(основной home-project) -
                    <label class="blacked">C#</label>
                </li>
            </ul>
        </p>
        <p>
            Несмотря на то, что я привел пример целых двух сайтов, frontend не является моей специализацией или даже увлечением. Но, наверно,
            вы уже и так об этом догадались когда у вас в 5-ый раз поехала вертска в моем блоге.
            Помимо домашних проектов, было очень много экспериментов, маленьких проектов для "посмотреть как будет работать", множество прочитанных
            статей и просмотренных вебинаров.
        </p>
        <p>
            В последнее время активно исследую области, которые мне кажутся перспективными и куда можно развиваться дальше.
            В целом эти области можно очертить так: <label class="blacked">машинное обучение</label>, <label class="blacked">Java</label>,
            <label class="blacked">Android</label>. Из последних проектов:
            <ul class="link-list">
                <li>
                    <a href="https://github.com/80LevelElf/NewochemApp">Мобильный клиент для сообщества переводчиков в ВКонтакте</a> (в разработке) -
                    <label class="blacked">Java</label>, <label class="blacked">Android</label>, <label class="blacked">Vk SDK</label>.
                </li>
                <li>
                    <a href="https://github.com/80LevelElf/PersonalBlog">Блог, который вы читаете</a> (в разработке) -
                    <label class="blacked">C#</label>, <label class="blacked">Asp.Net MVC</label>, <label class="blacked">JavaScript</label>,
                    <label class="blacked">JQuery</label>, <label class="blacked">T-SQL</label>, <label class="blacked">LINQ TO DB</label>.
                </li>
            </ul>
        </p>
    </div>

</div>

<script>
    $(function () {
        $("#tabs").tabs();
        $("#about-me-ref").addClass("selected");
    });
</script>