@{
    ViewBag.Title = "Обо мне";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h2>> ФИО: Салахутдинов Рустам Русланович</h2>
<h2>> Возраст: @ViewBag.AgeInYears</h2>
<h2>> Образование: незаконченное высшее (СГТУ, Информационная безопасность автоматизированных систем)</h2>
<p>А теперь, если чуть подробнее обо мне:</p>
<p>
    Если разделить мои ранние годы по классификации Л.Н.Толстого <i>"Детство-отрочество-юность"</i>, то программированием я начал
    увлекаться где-то с "отрочества". Наличие желания и отсутствие умения компенсировалось <a href="https://ru.wikipedia.org/wiki/HiAsm">одной программой</a>,
    которая позволяла в формате конструктора "лепить" свои проекты. И так на велосипеде и энтузиазме было слеплено множество
    ужасных программ, величина которых упиралась в формат конструктора, в котором они создавались:
</p>
<ul class="link-list">
    <li><a href="http://www.softportal.com/software-17002-rizek-tsentr.html">Программа-аналог AIDA 64</a></li>
    <li><a href="http://www.softportal.com/software-17382-rizek-pasgen.html">Генератор паролей</a></li>
    <li><a href="http://www.softportal.com/software-17517-rizek-shifrator.html">Программа-шифровальщик</a></li>
    <li><a href="http://www.softportal.com/software-19007-rizek-kalkulyator.html">Калькулятор</a>(О да, я написал свой калькулятор!)</li>
</ul>
<p>
    Потом был школьный Pascal, мне стукнуло где-то 15-16 лет и я решил, что уже взрослый, а врослые высвобождают память самостоятельно.
    Так я изучил <label class="blacked">C++</label>, потом в придачу разобрался в framework'e
    <label class="blacked">Qt</label>. На этой связке за два школьных года написал несколько детских проектов,
    которые до сих пор можно найти в интернете:
    <ul class="link-list">
        <li><a href="https://www.linux-apps.com/p/1131400">Редактор для QSS</a></li>
        <li><a href="https://www.linux-apps.com/p/1131106/">Программа для подбора цветов</a></li>
    </ul>

</p>