div.post-wrapper {
    display: block;

    padding-top: 8px;
    padding-bottom: 25px;
    padding-left: 15px;
    margin-bottom: 25px;
    margin-top: 15px;

    border-bottom: 1px solid #bbb;
}

div.post-wrapper div.header {
    display: block;
}

div.post-wrapper div.header a.title {
    display: inline-block;
    border-bottom: 0;

    margin: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 8px;

    font-size: 24px;
    font-weight: bolder;
}

div.post-wrapper div.source {
    display: block;
}

div.post-wrapper div.info {
    display: block;
}

div.post-wrapper div.info a.to-detail {
    display: inline-block;

    border-bottom: 0;
    background-color: #dddddd;

    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 8px;
}

div.post-wrapper div.info a.to-detail:hover {
    background-color: #1e90ff;
    color: white;
}

div.post-wrapper div.info div.right {
    display: inline-block;
    margin-top: 8px;
    float: right;
}

div.post-wrapper div.info label.view-count {
    padding-right: 50px;
    padding-left: 30px;

    background-position-y: 1px;
    background-repeat: no-repeat;
    background-image: url("../images/eye_24.png");
}