@font-face {
    font-family: openSansFont;
    src: url(fonts/OpenSans-Regular.ttf);
}

/*----------------------------------------------
    Common elements
    */

:root {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: openSansFont, "Segoe UI", Verdana, Helvetica, Sans-Serif;

    height: 100%;
    width: 75%;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

a:hover {
    color: blue;
    border-color: blue;
}

header {
    display: flex;
    background: rgba(255, 255, 255, 0.8);

    padding: 0;
    padding-left: 4px;

    margin: 0;
    margin-top: 10px;

    font-size: 16px;
    min-height: 40px;
}

header a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 10px;
    color: black;
    border-bottom: 0;
}

header a:hover, header a:focus, header a.selected {
    background: #1e90ff;
    cursor: pointer;
    color: white;
}

footer {
    flex: 0 1 40px;
    border-top: 2px solid #aaaaaa;
    background: #ffffff;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

table {
    font-size: 16px;
    border-collapse: collapse;
}

progress {
    height: 12px;
}

tr {
    background-color: rgba(255, 255, 255, 0.4);
}

tr:nth-child(even) {
    background-color: rgba(235, 235, 235, 0.4);
}

td {
    padding: 5px;
}

th {
    text-align: center;

    background-color: #f5f5f5;
 
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

p, label, ul, code {
    font-size: 18px;
}

/*Web-kit progress bar*/

progress[value] {
  /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 16px;

      /*background-size: 35px 20px, 100% 100%, 100% 100%; */

    /*For IE 10*/
    color: #1e90ff;
    background-color: white;
    background-image: url("images/progressbar_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    border: 1px solid #aaaaaa;
}

progress[value]::-webkit-progress-bar {
    background-image: url("images/progressbar_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

progress[value]::-webkit-progress-value {
    background-color: rgba(30, 144, 255, 0.7);
}

/*Mozilla progress bar*/
progress[value]::-moz-progress-bar { 
    background-color: rgba(30, 144, 255, 0.7);
}

/*----------------------------------------------
    Special elements
    */

header a.nick {
    background: rgba(0, 0, 0, 0.8);
    color: white;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 0;

    margin: 4px;
    margin-left: 0;

    font-size: 16px;
}

div.content-div {
    background: #ffffff;
    margin-top: 14px;
    display: block;

    padding-left: 85px;
    padding-right: 85px;
    padding-top: 6px;
    padding-bottom: 30px;
}

label.blacked {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

ul.link-list {
    list-style-type: lower-alpha;
    margin-top: 3px;
    margin-bottom: 3px;
}

label.separator {
    display: block;
    font-size: 22px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 3px;
}

/*----------------------------------------------
    Fixing 3rd-party libs
    */

div.ui-tabs.ui-widget-content {
    border: 0 !important;
    background: transparent !important;
}

div.ui-tabs-panel {
    padding: 5px !important;
}

.ui-widget-content a {
    color: black;
} 

.ui-widget-content a:hover {
    color: blue;
}

.ui-widget {
    font-family: openSansFont, "Segoe UI", Verdana, Helvetica, Sans-Serif !important;
}

.ui-tabs-nav {
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid #cccccc !important;
}

.ui-tabs li.ui-state-hover a{
    color: black !important;
}