@font-face {
    font-family: blogFont;
    src: url(fonts/Arsenal-Regular.otf);
}

/*----------------------------------------------
    Common elements
    */

:root {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;

    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

a:hover {
    color: blue;
    border-color: blue;
}

header {
    display: flex;
    background: rgba(255, 255, 255, 0.80);
    padding-left: 7px;
    margin-top: 15px;

    font-size: 20px;
    font-family: blogFont;
    min-height: 45px;
}

header a {
    display: inline-block;
    padding: 6px;
    padding-top: 10px;
    color: black;
    border-bottom: 0;
}

header a:hover, header a:focus, header a.selected {
    background: rgba(70, 130, 180, 0.85);
    cursor: pointer;
    color: white;
}

footer {
    flex: 0 1 40px;
    border-top: 2px solid #aaaaaa;
    background: #ffffff;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

table {
    font-size: 16px;
    border-collapse: collapse;
}

progress {
    height: 12px;
}

tr {
    background-color: rgba(255, 255, 255, 0.4);
}

tr:nth-child(even) {
    background-color: rgba(235, 235, 235, 0.4);
}

td {
    padding: 5px;
}


p, label, ul {
    font-size: 18px;
}

/*----------------------------------------------
    Special elements
    */

header a.nick {
    background: rgba(0, 0, 0, 0.8);
    color: white;

    padding: 6px;
    margin: 6px;
    margin-left: 0;

    font-size: 18px;
}

div.content-div {
    background: #ffffff;
    margin-top: 14px;
    display: block;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 6px;
    padding-bottom: 6px;

    flex: 1 1 auto;
}

label.blacked {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding-left: 2px;
    padding-right: 2px;
}

ul.link-list {
    list-style-type: lower-alpha;
    margin-top: 3px;
    margin-bottom: 3px;
}

label.separator {
    display: block;
    font-size: 22px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 3px;
}

/*----------------------------------------------
    Fixing 3rd-party libs
    */

div.ui-tabs.ui-widget-content {
    border: 0 !important;
    background: transparent !important;
}

div.ui-tabs-panel {
    padding: 5px !important;
}

.ui-widget-content a {
    color: black;
}

.ui-widget-content a:hover {
    color: blue;
}