div.post-wrapper div.source p {
    margin-top: 12px;
    margin-bottom: 12px;
}

div.post-wrapper div.source h1 {
    font-size: 20px;
}

div.post-wrapper div.source table {
    min-width: 75%;
}

div.post-wrapper img {
    max-width: 100%;
}